.header {
  margin-top: 45px;
  border-style: solid;
  border-color: rgba(84, 84, 84, 0.7);
  border-left: none;
  border-right: none;
  border-top: none;
  border-width: 1px;
  display: grid;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  padding-bottom: 41px;
  color: white;
  padding-left: 20px;
}

@media screen and (max-width: 879px) {
  .header {
    max-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 775px) {
  .header {
    max-width: calc(100% - 40px);
  }
  .header__logo {
    width: 150px;
    height: 49px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
  }
  .header__logo {
    padding-left: 10px;
    padding-bottom: 32px;
    width: 126px;
    height: 24px;
  }
}
